<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xc0ffeelabs.taxicab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.xc0ffeelabs.taxicab.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.xc0ffeelabs.taxicab.permission.C2D_MESSAGE" />

    <application
        android:name=".activities.TaxiCabApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TaxiCabMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.MapsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6K93u9V37hUZFiT49NLe6UdqhAafro1Y"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.NoPermissionActivity" />

        <receiver
            android:name="com.xc0ffeelabs.taxicab.receivers.PushNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:960181148606">
        </meta-data>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.xc0ffeelabs.taxicab" />
            </intent-filter>
        </receiver>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.xc0ffeelabs.taxicab.receivers.IntentToLaunchMapReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xc0ffeelabs.taxicabdriver.INTENT_TO_LAUNCH_MAP" />
                <category android:name="com.xc0ffeelabs.taxicab" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
